.env
node_modules/
dist/
**pycache**/
__pycache__/
*.pyc
uploads/
vector_store/
data_sources/manuals/
data_sources_backup/
*.log

.idea/
.pytest_cache/
.venv/
tmp/
local_backup/
.coverage
htmlcov/
.DS_Store
Thumbs.db
